*.pyc
working
output
Output
test_scihub.ipynb
__pycache__
test.py.py
*.ipynb
test.txt
test
environment.yml
snaphu-v2.0.5/bin
*.ipynb_checkpoints
*.o
TEST
output*
core.*
build
*.egg-info
build
.vscode
*.sh
main.py
